<is-land
  on:visible
  autoinit="petite-vue"
  import="/assets/petite-vue.es.js">
  <ul>
    <li v-for="p in drinks">
      {{ p }}
    </li>
  </ul>
</is-land>

<hr/>
<is-land
  autoinit="petite-vue"
  import="/assets/petite-vue.es.js"
  v-scope="{ count: 0 }">
  Petite Vue
  <template data-island>
    <button @click="count++">⬆️</button>
    <button @click="count--">⬇️</button>
    <span v-html="count">0</span>
  </template>
</is-land>

<div style="height: 100vh; background-color: gray; border: thick solid black;">
  a big block
</div>